#bpmn_canvas{ style: "height: 500px; padding: 0px"}

%script{ src: '/assets/process_engine/jquery-mousewheel/jquery.mousewheel.js' }
%script{ src: '/assets/process_engine/lodash/dist/lodash.js' }
%script{ src: '/assets/process_engine/sax/lib/sax.js' }
%script{ src: '/assets/process_engine/Snap.svg/dist/snap.svg.js' }
%script{ src: '/assets/process_engine/bpmn-js/dist/bpmn-viewer.js' }
