%nav.navbar.navbar-default{role: "navigation"}
	.navbar-header
		%a.navbar-brand{ href: "/process_engine" }  BPMN Engine
	.collapse.navbar-collapse
		%ul.nav.navbar-nav
			%li= link_to "Process Definitions", process_definitions_path
